@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); /*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --bgColor: #1f1d27;
  --main-color: #9ccfd8;
  --caret-color: #f6c177;
  --sub-color: #c4a7e7;
  --sub-alt-color: #282533;
  --text-color: #e0def4;
  --error-color: #eb6f92;
  --error-extra-color: #ebbcba;
}

body {
  background-color: var(--bgColor);
  color: var(--text-color);
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*height: 100vh;*/
}

::selection {
  background: var(--main-color);
  color: var(--bgColor);
}

button {
  transform: scale(1);
  transition: all 0.15s ease-in-out;
  background-color: var(--sub-color);
  color: var(--bgColor);
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}


button:hover {
  /*transform: scale(1.015);*/
  background-color: var(--main-color);
}

.nav-bar {
  display: flex;
  padding: 30px 150px;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.nav-bar h2 {
  color: var(--sub-color);
}


.nav-bar .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sub-color);
  cursor: pointer;
  margin-left: auto;
  position: relative;
}

.nav-bar .profile:hover {
  .username, #login-form {
    color: var(--text-color);
  }
}

.game-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sub-alt-color);
  padding: 5px 20px;
  border-radius: 7px;
  margin-left: 20px;
  gap: 10px;
  color: var(--sub-color);
}

.game-settings .languages, .game-settings .times {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.game-settings .spacer {
  border-radius: 2px;
  background-color: var(--bgColor);
  padding: 10px 2px;
}

input[type="radio"] {
  display: none
}

.game-settings label {
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  margin: 0 5px;
}

input[type="radio"]:checked + label {
  color: var(--main-color);
}

.search {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;
}

.search i {
  cursor: pointer;
  font-size: 16px;
  transition: all 0.15s ease-in-out;
}

.search i:hover {
  color: var(--main-color);
}

.search input {
  font-size: 16px;
  width: 0;
  outline: none;
  border-radius: 4px;
  background-color: var(--bgColor);
  color: var(--sub-color);
  border: none;
  transition: all 0.15s ease-in-out;

}

.search.open input {
  padding: 2px 5px;
  margin-left: 5px;
  width: 100px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#entered-time {
  width: 0;
  margin-right: 0;
  color: var(--main-color);
  transition: all .15s ease-in-out;
}

#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: var(--bgColor);
  color: var(--sub-color);
}

#login-form i {
  font-size: 20px;
}

.nav-bar .profile .username {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-weight: bolder;
  padding-left: 5px;
}

.nav-bar .profile .profile-actions {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--sub-alt-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 10;
  list-style: none;
  font-size: 14px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.nav-bar .profile .profile-actions li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-bar .profile .profile-actions li i {
  margin-right: 6px;
}

.nav-bar .profile .profile-actions li:hover {
  background-color: var(--text-color);
  color: var(--bgColor);
}

.nav-bar .profile:hover .profile-actions {
  visibility: visible;
  opacity: 1;
}

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease, visibility 0.2s ease-in-out;
}

.login-container.open {
  visibility: visible;
  opacity: 1;
}

.login-container.open .container {
  top: 0;
}

.container {
  top: -100%;
  background-color: var(--sub-alt-color);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  transition: top 0.2s ease-in-out;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container h1:nth-child(1) {
  color: var(--sub-color);
}

.container button {
  padding: 10px 45px;
  margin-top: 10px;
}

.container button.hidden {
  background-color: transparent;
  border-color: var(--bgColor);
}

.container form {
  background-color: var(--sub-alt-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: var(--bgColor);
  color: var(--text-color);
  border: none;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  padding: 10px 15px;
}

.container input::placeholder {
  color: var(--text-color);
}

.container .input-container {
  margin: 8px 0;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  background-color: var(--bgColor);
  font-size: 13px;
  padding-right: 10px;
  outline: none;
}

.container .input-container i {
  color: var(--sub-color);
  transform: scale(1);
  transition: all 0.16s ease;
}

.input-container:focus-within {
  outline: 2px solid var(--text-color);
}

.container .input-container i:hover {
  cursor: pointer;
  color: var(--main-color);
}

.from-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.from-container h1 {
  padding-bottom: 20px;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: var(--sub-color);
  height: 100%;
  color: var(--bgColor);
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;

}

.toggle-panel .fa-times {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.toggle-left .fa-times {
  top: 20px;
  left: 20px;
}

.toggle-right .fa-times {
  top: 20px;
  right: 20px;
}

.toggle-panel .fa-times:hover {
  transform: scale(1.2);
  color: #f00;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

input[type="password"] {
  font-weight: bolder;
  letter-spacing: 5px;
}

input[type="password"]::placeholder {
  font-weight: normal;
  letter-spacing: normal;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--sub-alt-color);
  color: lime;
  padding: 10px 20px;
  border: 2px solid lime;
  border-radius: 12px;
  z-index: 10000;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
}

.notification.error {
  color: red;
  border: 2px solid red;
}

.notification.hidden {
  visibility: hidden;
  opacity: 0;
}

.notification.visible {
  visibility: visible;
  opacity: 1;
}

main {
  padding: 0 150px
}

#header {
  display: grid;
  grid-template-columns:1fr 1fr;
  margin: 56px 0 10px 0;
}


#timer {
  color: var(--main-color);
  font-size: 40px;
  font-weight: bolder;
  margin-left: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}

#game {
  line-height: 32px;
  height: 144px;
  overflow: hidden;
  position: relative;
}

#game:focus {
  outline: none;
}

#words {
  opacity: 1;
  transition:opacity 0.15s ease-in-out;
}

#words.fade-out{
  opacity: 0;
}

#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 57px;
  font-size: 32px;
  font-weight: 500;
  opacity: 0;
  visibility: visible;
  transition: all 0.15s ease-in-out;
}

#game:focus #focus-error {
  opacity: 0;
  visibility: hidden;
}

#game:focus #game {
  outline: transparent;
}

.word {
  display: inline-block;
  margin: .25em .3em;
  font-size: 32px;
  font-weight: 450;
  color: var(--sub-color);
}

.word.incorrect {
  box-shadow: 0 2px 0 var(--error-color);
}

.letter.correct {
  color: var(--text-color);
}

.letter.incorrect {
  color: var(--error-color);
}

.letter.extra {
  color: var(--error-extra-color)
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cursor {
  display: none;
  width: 3px;
  height: 32px;
  background-color: var(--caret-color);
  border-radius: 2px;
  position: fixed;
  top: 223px;
  left: 158px;
  opacity: 1;
  animation: blink 1s infinite;
  transition: left 0.07s ease-in-out, opacity 0.15s ease-in-out;
}

#game:focus #cursor {
  display: block;
}

#cursor.active {
  animation: none;
}

#game.over #words {
  opacity: .5
}

#game.over:focus #cursor {
  display: none;
}

#game.over:focus #focus-error {
  display: none;
}

.restart {
  margin-top: 16px;
  text-align: center;
}

#restart-btn {
  font-size: 19px;
  color: var(--sub-color);
  background-color: var(--bgColor);
  position: relative;
}

#restart-btn:hover {
  color: var(--text-color);
}

#restart-btn::before {
  content: "Restart Test";
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  white-space: nowrap;
  color: var(--text-color);
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.18s ease-in-out;
}

#restart-btn::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 0.625rem solid black;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  opacity: 0;
  transition: all 0.18s ease-in-out;
}

#restart-btn:hover::before {
  opacity: 1;
  top: 47px;
}

#restart-btn:hover::after {
  opacity: 1;
  top: 38px;
}

.result-section {
  opacity: 0;
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  color: var(--sub-color);
  font-size: 30px;
  transition: all 0.15s ease-in-out;
}

.result-section p {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: var(--main-color);
}

#comparison {
  font-size: 30px;
  padding-top: 20px;
}

#comparison.better {
  color: limegreen;
}

#comparison.worse {
  color: red;
}
